/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .sortable th {
    cursor: pointer;
  }
  
  .sortable th:after {
    content: '';
    float: right;
  }
  
  .sortable th.asc:after {
    position: relative;
    top: -15px;
    content: '▲';
  }
  
  .sortable th.desc:after {
    position: relative;
    top: -15px;
    content: '▼';
  }
  
  .asc {
    background-color: #fff0f0; /* Example highlight color */
    font-weight: bold;
  }
  
  .desc {
    background-color: #f0f0ff; /* Example highlight color */
    font-weight: bold;
  }
  
  table.sortable th, table.sortable td {
    padding: 8px;
    text-align: left;
  }

  table.sortable {
    border-collapse: collapse;
    width: 100%;
  }
  table.sortable, th, td {
    border: 1px solid #ddd;
  }
  
  .sortable th {
    height: 50px; /* Adjust the height as needed */
    /* line-height: 50px; This helps vertically center the text inside the cell */
  }

  .sortable th a {
    display: block;
    position: relative;
    top: 5px;
    width: 100%;
    height: 35px; /* Change from fixed height to auto */
    padding: 15px 0; /* Adjust top and bottom padding as needed */
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  